{#
SPDX-FileCopyrightText: 2024 seven-beep <ebn@entreparentheses.xyz>

SPDX-License-Identifier: CC-BY-SA-4.0
#}
{#

Example of a pillar state structure for https://github.com/ben-grande/dotfiles

This file need to be placed in your pillar_roots, renamed with a '.sls'
extension and referenced by a top file. See 'pillar.top.example' for an example
and the README for instructions.

Each entry in the pillar state is optional. You can disable the entire dotfile
setup by keeping *only* 'qusal:dotfiles:all' to 'false', or selectively
disabling individual components by setting 'false' for the corresponding state
entries (eg: 'dom0' correspond to 'copy-dom0.sls').

Alternatively you can keep 'qusal:dotfiles:all' to 'true' and selectively
enabling individual components by setting 'true' for the corresponding state
entries.

#}

qusal:
  dotfiles:
    all: true
    dom0: true
    git: true
    gtk: true
    mutt: true
    net: true
    pgp: true
    sh: true
    ssh: true
    tmux: true
    vim: true
    x11: true
    xfce: true
