## Copy to ~/.muttrc-credentials.local and modify.
## Mandatory configuration.
## First file to be sourced: defines variables to be referenced by other files.

set pgp_default_key = "0x1234567890ABCDEF"
set pgp_sign_as     = "0x1234567890ABCDEF"
set my_name         = "Bilbo Baggins"
set my_user         = "bilbo"
set my_server       = "shire.org"

## Password is unnecessary if Mutt is permanently offline.
set my_pass         = "mypassword"
