## Copy to ~/.config/mutt/offline.muttrc and modify.

set read_only     = yes

unset spoolfile
unset folder
unset smtp_url
set imap_passive  = yes

set sendmail      = "env EMAIL_CONN_TEST=x /usr/libexec/msmtp/msmtpq/msmtpq"
set sendmail_wait = 0
set folder        = "~/mail"
set spoolfile     = "+INBOX"

## vim: ft=muttrc
